/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR PALETTE

body: rgb(246 248 249)
add task element: rgb(21 170 245)
title sections: rgb(66 72 81)
checkmark: rgb(105 210 189)
crossmark: rgb(255 89 78)

TAGS:
editorial: rgb(10 169 237)
Q1 goals: rgb(171 93 230)
recruiting: rgb(43 198 171)
mobile: rgb(255 155 1)
website: rgb(236 74 157)
sales: rgb(164 209 23)
*/

body {
    background-color: rgb(59, 128, 162);
}

/* banner */
header {
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

header img{
    padding: 10px 10px;
}

/* nav menu */
.menu div{
    display: inline-block;
}

.menu {
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    width: 100%;
    max-width: 980px;
    margin: auto auto;
}

.add-task {
    background-color: rgb(21 170 245);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(21 170 245);
    color: white;
    font-size: 14px;
}

.add-section {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}

main {
    background-color: white;
    width: 980px;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}

.menu-title {
    color: rgb(66 72 81);
    padding: 20px 50px;
}

.task-text {
    display: inline;
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
}

ul {
    margin-top: 10px;
}

li {
    list-style-type: none;
    padding: 3px;
}

.todo-item-icon {
    display: inline-block;
    border: 1px solid rgb(105 210 189);
    border-radius: 100%;
    color: rgb(105 210 189);
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-right: 8px;
}

.todo-item-icon-cross {
    border: 1px solid rgb(255 89 78);
    color: rgb(255 89 78);
}

.todo-item-tag {
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 3px;
}

.todo-item-tag.editorial {
    background-color: rgb(10 169 237);
}

.todo-item-tag.q1goals {
    background-color: rgb(171 93 230);
}

.todo-item-tag.recruiting {
    background-color: rgb(43 198 171);
}

.todo-item-tag.mobile {
    background-color: rgb(255 155 1);
}

.todo-item-tag.website {
    background-color: rgb(236 74 157);
}

.todo-item-tag.sales {
    background-color: rgb(164 209 23);
}